<% provide(:title, 'About Us') %>
<div id="header-wrapper">
  <div id="header">  
    <div id="logo">
      <h1>About Us</h1>
      <p>Hey you. im ben. this is for work.</p>
    </div>
  </div>
</div>
