<h1>well hi there.</h1>

 <aside class="span12">
  <section>  
    <p>
      I suppose if you made it this far, you obviously go to the super-duper college that is The Univerity of Wisconsin - Eau Claire: where there's an overpopulation of rabbits, cops are always angry, and Finding a House for yourself is more stressful that midterms and finals combined. 
    </p>
    <br>
    <p>
      That's where we come in. (minus the cops and Rabbits. of course)
    </p>
    <br>
    In the speed you check your Facebook, Twitter, Pintrest and Reddit, you can find a suitable house that meets your and your friend's needs. We make it so easy, you might as well just call us Sherlock Homes. 
    <p>
  </section>
</aside>
