<% provide(:title, 'Home') %>
<%= render 'layouts/header' %>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
        <h1>Find a House for Me</h1> 
        <p>YO dawg. Dis the homepage.</p> 
    </div>
  </div>
</div>
