<h1>users.</h1>
<%= will_paginate %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
      <% if current_user.admin? %> 
        <% if user.admin? %>
          (Admin)
        <% end %>  
        <% if user != current_user %>
          <%= link_to "Toggle Admin", toggle_admin_user_url(user), :method => :post %>
        <% end %>
      <% end %>  
    </li>   
  <% end %>
</ul>
<%= will_paginate %> 
