<h1>users.</h1>
<%= will_paginate %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
      <% if current_user.admin? %> 
        <% if user != current_user %>
          (Admin)
          <%= link_to "Toggle Admin", toggle_admin_url(user) %>
        <% else %>
          (Admin)
        <% end %>
      <% end %>  
    </li>   
  <% end %>
</ul>
<%= will_paginate %> 
