<footer class="footer">
  <small>
    This website brought to you by Benjamin Singer and Mitchell Sheaffer
  </small>
  <nav>
    &nbsp;&nbsp;&nbsp;
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    &nbsp;&nbsp;&nbsp;
  </nav>
  <% yield :scripts %>
</footer>
